.input-group-addon {
	width: 200px;
}

.form-control:disabled {
	cursor: default;
}

.input-group, .panel, .btn {
	margin-top: 20px;
}

.panel-title {
	font-size: 18px;
}

.btn, .input-group {
	width: 100%;
}

#panelResults {
	min-height: 244px;
}